<div class="container-fluid">
  <h1>Bootcamp Enrollment Form </h1>

  <form #userForm="ngForm">

    {{ userForm.value | json}}

    <div class="form-group">
      <label>Name</label>
      <input name="name" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label>Email</label>
      <input name="email" type="email" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input name="password" type="text" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input name="phone" type="tel" class="form-control" ngModel>
    </div>

    <div class="form-group">
      <select name="topic" class="custom-select" ngModel>
        <option selected>I am interested in</option>
        <option *ngFor = "let topic of topics">{{topic}}</option>
      </select>
    </div>

    <div class="form-check mb-3">
      <label>Time preference</label>
      <div class="from-check">
        <input type="radio" value="morning" class="form-check-input" name="timePreference" ngModel>
        <label class="form-check-label">Morning (9pm - 12pm)</label>
      </div>
      <div class="from-check">
        <input type="radio" value="evening" class="form-check-input" name="timePreference" ngModel>
        <label class="form-check-label">Evening (5pm - 8pm)</label>
      </div>
    </div>

    <div class="form-check mb-3">
      <input name="subscribe" type="checkbox" class="form-check-input" ngModel>
      <label class="form-check-label">
        Send me promotional offers
      </label>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info">Submit</button>
    </div>
  </form>
</div>