<h1 class="text-center">Register Page</h1>

<div class="container-fluid">
  <form [formGroup] = "registrationForm" (submit) = "onSubmit()">

    {{registrationForm.value | json}}

    <div class="form-group">
      <label>User name</label>
      <input type="text" class="form-control" formControlName = "userName" [ngClass] = "classes('userName')">
      <div *ngIf = "error('userName')">
        <ng-template [ngIf] = "_rt('userName').errors?.required" [ngIfElse] = "elseBlock">
          <small class="text-danger">User name is required</small>
        </ng-template>
        <ng-template #elseBlock>
          <small class="text-danger">User name {{_rt('userName').errors?.forbidden.value}} is not valid</small>
        </ng-template>
      </div>
    </div>
  
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName = "email" [ngClass] = "classes('email')" >
      <div *ngIf = "error('email')">
        <ng-template [ngIf] = "_rt('email').errors?.required" [ngIfElse] = "elseBlock">
          <small class="text-danger">Email is required</small>
        </ng-template>
        <ng-template>
          <small class="text-danger">Invalid Email</small>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" formControlName = "password" [ngClass] = "classes('password')">
      <div *ngIf = "error('password')"> 
        <ng-template [ngIf] = "_rt('password').errors?.required" [ngIfElse] = "elseBlock">
          <small class="text-danger">Password is required</small>
        </ng-template>
        <ng-template #elseBlock>
          <small class="text-danger">Password must have at least one number, one lowercase letter, one uppercase letter and minimum six characters</small>
        </ng-template>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="text" class="form-control" formControlName = "confirmPassword" [ngClass] = "confirmPasswordClass()">
      <div *ngIf = "error('confirmPassword') || registrationForm.errors?.notMatch">
        <ng-template [ngIf] = "_rt('confirmPassword').errors?.required" [ngIfElse] = "elseBlock">
          <small class="text-danger">Confirm password is required</small>
        </ng-template>
        <ng-template #elseBlock>
          <small class="text-danger">Confirm password and password not match</small>
        </ng-template>
      </div>
    </div>

    <button class="btn btn-info" type="submit">Submit</button>
  </form>
</div>
