<h2 class="text-center">{{user.first_name + " " + user.last_name}}</h2>
<br>
<div class="container">
    <label><strong>Email: </strong></label> {{user.email}} 
    <br>
    <label><strong>Address: </strong></label> {{user.address}}
    <br>
    <label><strong>City: </strong></label> {{user.city}}
    <br>
    <label><strong>State: </strong></label> {{user.state}}
    <br>
    <label><strong>Zipcode: </strong></label> {{user.zipcode}}
    <br>
    <label><strong>Language: </strong></label> {{user.language}}
</div>
